<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'funcionarios' %}">Parceiros</a>
        <a href="{% url 'contatos'%}">Contato</a>

        <a class="navbar-brand" href="{% url 'home' %}"></a>

        {% if user.is_authenticated %}
                    <span class="navbar-text me-3 text-white">
                        Olá, <strong>{{ user.username }}</strong>
                    </span>
                    <form action="{% url 'login' %}" method="post" class="d-inline">
                        {% csrf_token %}

                        <a href="{% url 'logout' %}">Sair</a>
                    </form>
                    
                    {% if user.is_superuser %}
                        <a href="/admin" class="btn btn-sm btn-warning ms-2">Admin</a>
                    {% endif %}
            
                {% else %}
                    <a href="{% url 'login' %}" class=>Entrar</a>
                {% endif %}              
            </div>
        </div>
    </nav>