{% extends "base.html" %}
{% block title %}Parceiros{% endblock %}

{% block content %}
    <h1> Parceiros </h1>
    
    {% for parceiro in parceiros %}
    <section class="card-funcionario">
        {% if parceiro.foto.url != null %}
        <img src="{{ parceiro.foto.url }}" alt="Foto de {{parceiro.nome}}">
        {% else %}
        <img src="/static/images/usuario-sem-imagem.png" alt="Foto padrão de usuário">
        {% endif %}
        <div class="info-parceiro">
            <h4>{{parceiro.nome}}</h4>
            <p>Descrição: {{parceiro.descricao}} </p>
            <p>Data de Parceria: {{parceiro.data_parceria}}</p>
            {% if funcionario.status == True %}
                <p>Situação: Credenciado</p>
            {% endif %}
        </div>
    </section>
    {% endfor %}

{% endblock %}